* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ol, ul {
	list-style: none;
}
body {
  background-color: #444;
}
#map {
  background-color: #000;
  border: none;
  display: flex;
  flex-wrap: wrap;
  height: 620px;
  margin: auto;
  position: relative;
  width: 620px;
}

div {
  border: 2px dashed rgba(0,0,0,.4);
  background-image: url("../img/tile_a.png");
  height: 10%;
  width: 10%;

}

#rover {
  background-image: url("../img/rover.png");
  background-position: center, center;
  border: none;
  height: 62px;
  position: absolute;
  left: 0;
  top: 0;
  width: 62px;
}
