* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ol, ul {
	list-style: none;
}
body {
  /*display: flex;*/
  background-color: #444;
  color: white;
  font-family: monospace;
  font-size: 1.5em;
}
.container {
  display: flex;
  margin-top: 3em;
}
.travel-log-container {
  font-size: .9em;
  position: absolute;
  margin-left: 3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #C0C0C0;
}
.travel-log-container span {
  margin-bottom: .7em;
  color: white;
}
form {
  /*border: 1px solid red;*/
  /*width: 620px;*/
  height: 30px;
  display: flex;
  justify-content: center;
  margin: auto;
  /*align-items: center;*/
}
form input {
  width: 200px;
  font-size: .9em;
  margin-right: 2em;
  font-family: monospace;

}
button {
  width: 200px;
  cursor: pointer;
  font-size: .9em;
  border-radius: 10px;
  border: none;
  font-family: monospace;

}
#map {
  border: none;
  margin: auto;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
  height: 620px;
  position: relative;
  width: 620px;
}

#map div:not(:first-child) {
  background-image: url("../img/tile_a.png");
  border: 2px dashed rgba(0,0,0,.4);
  height: 10%;
  width: 10%;

}

#rover {
  width: 62px;
  height: 62px;
  border: none;
  background-image: url("../img/rover.png");
  background-position: center, center;
  position: absolute;
  /*transition-property: all;
  transition-duration: 0.5s;*/
}

.obstacle {
  width: 62px;
  height: 62px;
  border: none;
  background-image: url("../img/obstacle.png");
  background-position: center, center;
  position: absolute;
  left: 62px;
  z-index: 1;
}
